@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }


  body{
    display: flex;
    padding: 0 10px;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #0D6EFD;
  }
  
  .wrapper{
    width: 720px;
    background: #fff ;
    border-radius: 5px;
  }
 
.wrapper header{
    font-size: 22px;
    font-weight: 600;
    padding: 20px 30px;
    border-bottom: 1px solid #bfbfbf;
}
/* .wrapper header::selection{
  color: #d04a4a;
background-color: red;
} */
.wrapper form{
    margin: 35px 30px;
}
form .dbl-field{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    justify-content: space-between;

}
form .dbl-field .field{
    height: 50px;
    position: relative;
    width: calc(100% / 2-13px);
}

form .field input , 
form .message textarea{
    height: 100%;
    width: 100%;
    outline: none;
    padding: 0 18px 0 48px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #bfbfbf;
}
form .field input::placeholder ,
form .message textarea::placeholder{
  color: #bfbfbf;
}
form .field input:focus ,
form .message textarea:focus{
  border: 2px solid rgb(0, 114, 237);

}
form  input:focus ~ i,form  textarea:focus ~ i{
  color: rgb(0, 114, 237);

}

.wrapper form i{
  position: absolute;
  left: 18px;
  top: 50%;
  color: #bfbfbf;
  font-size: 17px;
  pointer-events: none;
  transform: translateY(-50%);
}
form .message {
  position: relative;
}
form .message i{
  top :29px;
  font-size: 20px;
}
form .message textarea{
  min-width: 100%;
  max-width: 100%;
  min-height: 120px;
  max-height: 300px;
  padding: 15PX 20PX 0  48PX;
}
form .button-area{
  margin :25px 0;
  display: flex;
  align-items: center;

}

.button-area button{
  font-size: 18px;
  border: none;
  background: #0D6EFD;
  color: #fff;
  cursor:pointer;
  padding: 12px 30px ;
  border-radius: 5px;
} 

.button-area span{
  color: #0D6EFD;
  margin-left: 30px;

}

@media (max-width : 600PX ){
  .wrapper header{
    text-align: center;
  }
  form .dbl-field{
    flex-direction: column;
    margin: 0;
  }
  .dbl-field .field{
    width: 100%;
    margin-bottom: 20px;
  }
  form .button-area{
    flex-direction: column;
  }
  .button-area button{
    width: 100%;
  }
  form .message textarea{
    resize: none;
  }
  form .button-area span{
    margin: 25PX 0;
    
  }
  

}